# NOTE: These requirements are used for developing code on the repo. 
# As a standard they include certain formatters and linters.

# local package
-e ../.

# external requirements (mostly linters and formatters)
pylint              # pylint linter
mypy                # python type checker
black               # automatic formatting provider
pre-commit  	    # for git precommit hooks
isort               # automatic import sorter
python-dotenv       # environment variable manager