# NOTE: These requirements are used for developing code on the repo.
# As a standard they include certain formatters and linters.

# local package
-e ../.

# external requirements (mostly linters and formatters)
pylint              # pylint linter
mypy                # python type checker
black               # automatic formatting provider
pre-commit  	    # for git precommit hooks
isort               # automatic import sorter
python-dotenv       # environment variable manager
pydocstyle

# linear algebra and general data analysis
numpy               # arrays, linear algebra
scipy               # linear algebra and numerical mathematics
numba               # speeding up array operations
pandas              # tabular data analysis

# plotting
matplotlib          # general python plotting
seaborn             # fancier plotting styles
descartes           # geospatial plotting of shapefiles

# interactive computing
jupyter             # jupyter notebooks

# geospatial analysis requirements
rasterio            # opening and loading raster data
fiona               # manipulating geospatial vector data
geopandas           # manipulating geospatial vector data
shapely             # working with vector shapes
pycrs               # working with coordinate reference systems
geopy               # convenient API requests to geocoders
xarray              # useful data structures
rioxarray           # adaptation of xarray for raterio.
"dask[dataframe]"   # allows more lazy operation for xarray.
netCDF4             # makes sure that the default driver is netCDF4.

# additional
networkx

# gdrive functionality
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# make videos
imageio
imageio-ffmpeg

# xgboost
xgboost
sklearn
graphviz        # can plot the decission tree

# 
pillow
pytorch-lightning
